/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    padding: 10px 0;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

header nav ul li a:hover {
    background-color: #555;
}

.container {
    padding: 20px;
    text-align: center;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    text-align: left;
}

.table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

.status-running {
    color: green;
    font-weight: bold;
}

.status-off {
    color: red;
    font-weight: bold;
}

.status-critical {
    color: orange;
    font-weight: bold;
}


button {
    padding: 10px 20px;
    border: none;
    background-color: #333;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"], input[type="file"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 0 auto;
    display: block;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 90%;
    max-width: 500px;
    height: 90%;
    max-height: 500px;
    position: relative;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    header nav ul li {
        margin: 0 5px;
    }

    header nav ul li a {
        padding: 5px 10px;
    }

    .table, th, td {
        padding: 5px;
    }

    input[type="text"], input[type="file"] {
        width: calc(100% - 12px);
        padding: 8px;
    }

    button {
        padding: 8px 15px;
    }
}
